# ignore build subdirectories
build

# ignore binaries
decoder
simulator
test_decoder
bindata_reader
data_gen
json_data_parser
perf_test1
perf_test2
perf_test3
perf_test4
rdtsc_test
rep_test1
rep_test2
rep_test3
rep_test4

.vscode

# ignore test binaries
*.bin

# ignore test asm results
out_*.asm

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
